
DirectoryIndex index.php



<IfModule mod_rewrite.c>

    RewriteEngine On
    # If the requested filename exists, simply serve it.
    # We only want to let Apache serve files and not directories.
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Rewrite all other queries to the front controller.
    RewriteRule ^ %{ENV:BASE}/index.php [L]

    # Limiting the file max file upload value to 10 Mega Bytes.
    php_value upload_max_filesize 10M
    php_value post_max_size 10M

</IfModule>


